<template name="directory">
    <div class="cover scene nano">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner">
                <section class="directory row">
                        <h1>User Directory</h1>
                        {{#each user}}
                                {{> userCard}}
                        {{/each}}
                </section>
          </div>

          <div class="mastfoot">
            <div class="inner centered">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div><!-- covercontainer -->
      </div><!-- sitewrapperinner -->
    </div><!-- sitewrapper -->
    </div><!-- cover -->
</template>
