<template name="hello">
    <article class="welcome">
        <div class="col-md-8 col-md-offset-2">
            <h1>Online in 3 seconds.</h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <p>Honest.  Try connecting your twitter account and you'll have a user profile to share with friends in 3 seconds.  I'll even help you share it.</p>
            <p>
                <button class="btn btn-default outline">Connect Twitter</button>
            </p>
        </div>
    </article>
</template>
