template(name="leftPanel")
    h1 Account Settings   
    p Here are you account settings
    
    form
        .form-group
            label Mailchimp
            input(type="text" placeholder="Mailchimp").form-control
            button(type="submit").btn.btn-default
                | Save
