<template name="bootstrapCover">
    <div class="cover scene">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <!-- hide
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
             -->
          <div class="inner cover">
            <h1 class="cover-heading">Hi, I am {{username}}'s website.</h1>
            <p class="lead">{{profile.bio}}</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Follow {{profile.firstname}}</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>
