/*

THEMES

    010 Cover (bootstrap)
    020 Nano
    030 Scenes (to sort)

*/

@import "themes/cover.import.styl";
@import "themes/nano.import.styl";

/* ---------------------------------------

    Scenes
    For the mastheads

----------------------------------------*/

.scene
  background-image url('/img/header.jpg')
  background-position center center
  background-size cover

.welcome
  h1
    font-size 56px
    margin-bottom 0em
    letter-spacing -1px

