/* Nano Theme */

.nano
  .site-wrapper
    background: linear-gradient(top, rgba(20,20,20,.75) 0%,rgba(0,0,0,.75) 100%)

  h1.cover-heading
    margin-bottom 5px

  /* Add some space above the button */
  .btn
    margin-top 1em
    btn-outline()
