<template name="nano">
    <div class="cover scene nano" style="background-image:url('{{services.twitter.profile_image_url}}')">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <!-- hide
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
             -->
          <div class="inner">
                        <div class="avatar media-object"><img src="{{services.twitter.profile_image_url}}" class="img-circle" /></div>
                    <h1 class="cover-heading">{{profile.name}}</h1>
                    <p class="smallcaps">@{{services.twitter.screenName}}</p>
                    {{#if account.bio}}<p>{{account.bio}}</p>{{/if}}
                    <p class="lead">
                      <a href="http://twitter.com/{{services.twitter.screenName}}" class="btn btn-default">Follow</a>
                    </p>
          </div>

          <div class="mastfoot">
            <div class="inner centered">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div><!-- covercontainer -->
      </div><!-- sitewrapperinner -->
    </div><!-- sitewrapper -->
    </div><!-- cover -->
</template>
