<template name="account">

    <section class="block scene">
        <div class="row">
            <div class="container">
                <h1>Your Account, {{username}}</h1>

                <form class="form-horizontal" role="form">

                  <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="firstname" class="form-control" id="firstName" placeholder="Firstname" value="{{profile.firstname}}">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">Private Profile
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" class="btn btn-default" value="Save">
                    </div>
                  </div>
                </form>


            </div>
        </div>
    </section>

</template>
