/* ---------------------------------------

    LOGIN BUTTONS
    Meteor accounts-ui overwrites
        Login button & dialog
        Login image

----------------------------------------*/

#login-buttons a, .accounts-dialog a
  text-decoration none


/* Overwrites */
#login-buttons
  .login-button, .accounts-dialog .login-button
    padding 8px 14px
    font-size 80%
    line-height  1
    btn()
    outline()
    
    &:hover
        white()

  /* Icon */
  .login-image
    display  inline-block
    position  absolute
    left  12px
    top  6px
    width  10px
    height  16px

