<template name="profile">

    <!-- Welcome -->
    <section class="block user-profile">
        <div class="container">
            <div class="row">
                <article class="welcome">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Hello, I'm {{username}}</h1>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <p>I'm into user interfaces, pixels, coffee, salsa I like if I have time, I like to dance - fish, swim jump and run around in circles. Please like me. </p>
                        <p>
                            <button class="btn btn-default outline">Follow me on Twitter</button>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- Add Block -->
    <section class="block">
        <div class="row">
            <div class="container">
                <div class="add-block">
                    <p>Add another content block by <a href="/">connecting more services.</a></p>
                </div>
            </div>
        </div>
    </section>
</template>
