<template name="userCard">
    <div class="row">
        <article class="user-card mini">
                <div class="col-md-2">
                    <div class="avatar"><img src="{{services.twitter.profile_image_url}}" class="img-circle" /></div>

                </div>
                <div class="col-md-8">
                    <h1 class="h2"><a href="{{pathFor 'profile'}}">{{profile.name}}</a></h1>
                    <p>Here is a very short bio, maybe on two lines, or three. But no more.</p>
                </div>
        </article>
    </div>
</template>
