<template name="userCard">
    <div class="row">
        <article class="user-card mini">
                <div class="col-md-2">
                    <div class="avatar"><img src="{{services.twitter.profile_image_url}}" class="img-circle" /></div>

                </div>
                <div class="col-md-8">
                    <h1 class="h2"><a href="{{pathFor 'profile'}}">{{profile.name}}</a></h1>
                    {{#if account.bio}}<p>{{account.bio}}</p>{{/if}}
                    <p class="smallcaps"><a href="http://twitter.com/{{services.twitter.screenName}}">@{{services.twitter.screenName}}</a></p>
                </div>
        </article>
    </div>
</template>
